.aa
{
padding-top: 500px;
background-color: burlywood;
height: 200px;
}
.bb
{
padding-top: 300px;
background-color: greenyellow;
height: 100px;
}
.cc
{
background-color:skyblue;
height: 250px;
}